@model IT_Project_Management_System.Models.Task

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resource.DeleteTask</h2>

<h3>@Resources.Resource.Areyousureyouwanttodeletethis</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.ProjectKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.ProjectKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskStatus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resources.Resource.Delete" class="btn btn-primary" /> |
            @Html.ActionLink(Resources.Resource.BackToList, "Index")
        </div>
    }
</div>
