@model IT_Project_Management_System.Models.Task


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Template/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Project.ProjectName) / @Html.DisplayFor(model => model.TaskKey)</h2>

<div>
    @Html.DisplayFor(model => model.TaskName)
    <hr />
    Details
    <hr />
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-8">
                <div class="bs-component">
                    <p class="lead">@Html.DisplayFor(model => model.TaskDescription)</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bs-component">
                    <p>@Html.DisplayNameFor(model => model.TaskStartDate): @Html.DisplayFor(model => model.TaskStartDate)</p>
                    <p>@Html.DisplayNameFor(model => model.TaskEndDate): @Html.DisplayFor(model => model.TaskEndDate)</p>
                    <p>@Html.DisplayNameFor(model => model.User): @Html.DisplayFor(model => model.User.FullName)</p>
                    <p>@Html.DisplayNameFor(model => model.TaskStatus): @Html.DisplayFor(model => model.TaskStatus)</p>
                </div>

            </div>
        </div>
    </div>

    Comments
    <hr />
    <div id="CommentsAddDiv">
        @{Html.RenderPartial("~/Views/Tasks/_PartialCommentList.cshtml", Model);}
    </div>





    Attachments
    <hr />
    <div id="AttachmentAddDiv">
        @{Html.RenderPartial("~/Views/Documents/_PartialAttachmentList.cshtml", Model);}
    </div>

    <p>
        @Html.ActionLink(Resources.Resource.Edit, "Edit", new { id = Model.TaskID }) |
        @Html.ActionLink(Resources.Resource.BackToList, "Index")
    </p>
</div>
<script>
    function submitComment() {
        $.ajax({
            url: "/Comments/Create",
            contentType: "application/html; charset=utf-8",
            type: 'POST',
            dataType: 'html',
            success: function (result) {
                $("#CommentsAddDiv").html(result);
            },
            error: function (xhr, status) {
                alert(status);
            }
        });
             
    }
</script>