@model IT_Project_Management_System.Models.Task

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Template/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Project.ProjectName) / @Html.DisplayFor(model => model.TaskKey)</h2>

<div>
    @Html.DisplayFor(model => model.TaskName)
    <hr />
    Details
    <hr />
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-8">
                <div class="bs-component">

                    <p class="lead">@Html.DisplayFor(model => model.TaskDescription)</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bs-component">
                    <p>@Html.DisplayNameFor(model => model.TaskStartDate) @Html.DisplayFor(model => model.TaskStartDate)</p>
                    <p>@Html.DisplayNameFor(model => model.TaskEndDate) @Html.DisplayFor(model => model.TaskEndDate)</p>
                    <p>@Html.DisplayNameFor(model => model.User) @Html.DisplayFor(model => model.User.FullName)</p>
                    <p>@Html.DisplayNameFor(model => model.TaskStatus) @Html.DisplayFor(model => model.TaskStatus)</p>
                </div>

            </div>
        </div>
    </div>

    Comments
    <hr />
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                    @foreach (var item in Model.Comments)
                    {
                        <p class="lead">@Html.DisplayFor(modelItem => item.User.FullName)  @Html.DisplayFor(modelItem => item.CommentDate)</p>
                        <p class="lead">@Html.DisplayFor(modelItem => item.CommentText)</p>
                    }

                </div>
            </div>
        </div>
    </div>
    Attachments
    <hr />
    @foreach (var item in Model.Documents)
    {
        <p class="lead">@Html.LabelFor(modelItem => item.File)  </p>

    }
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TaskID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>