@using IT_Project_Management_System.Helpers;
@using IT_Project_Management_System.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<IT_Project_Management_System.Models.Task>


@{
    ViewBag.Title = "Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>@Resources.Resource.Tasks</h2>

@using (Html.BeginForm())
{
    @Html.Hidden("SearchString", new { String = ViewBag.CurrentFilter })
    @Html.Hidden("sortOrder", new { String = ViewBag.CurrentSort })
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-9"> </div>
            <div class="col-lg-3">
                <div class="form-inline my-3 my-lg-0">
                    @Resources.Resource.Filterby  @Html.DropDownList("taskstatusList", new SelectList(new[] { "All" }.Concat(Enum.GetNames(typeof(TaskStatus)))), htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })

                </div>
            </div>
        </div>
    </div>
}
<p>
    @Html.ActionLink(Resources.Resource.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Resources.Resource.TaskKey, "Index", new { sortOrder = ViewBag.TaskKeySortParm, searchString = ViewBag.CurrentFilter })
        </th>
        <th>
            @Resources.Resource.TaskName
        </th>
        <th>
            @Resources.Resource.TaskAssignedTo
        </th>
        <th>
            @Resources.Resource.TaskStartDate
        </th>
        <th>
            @Resources.Resource.TaskEndDate
        </th>
        <th>
            @Html.ActionLink(Resources.Resource.TaskStatus, "Index", new { sortOrder = ViewBag.TaskStatusSortParm, searchString = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskStatus)
            </td>
            <td>
                @Html.ActionLink(Resources.Resource.Edit, "Edit", new { id = item.TaskID }) |
                @Html.ActionLink(Resources.Resource.Details, "Details", new { id = item.TaskID })

                @{ UserType userType = UserHelper.getUser().UserType;}
                @if (userType != UserType.TeamMember)
                {
                    @:| @Html.ActionLink(Resources.Resource.Delete, "Delete", new { id = item.TaskID })
                }
            </td>
        </tr>
    }
</table>
<br />
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))