@model IT_Project_Management_System.Models.Project
@using IT_Project_Management_System.Models;
@using IT_Project_Management_System.Helpers;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resource.Details</h2>

<div>
    <h4>@Resources.Resource.Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectStatus)
        </dd>

    </dl>
</div>
<p>
    @{ 
        
    UserType userType = UserHelper.getUser().UserType;}
    @if (userType == UserType.TeamMember)
    {
       
        <a href='#' onclick="history.back(-1)">Back</a>
    }
    else
    {
        Html.ActionLink(Resources.Resource.Edit, "Edit", new { id = Model.ProjectID });
        @:|
        Html.ActionLink(Resources.Resource.BackToList, "Index");
    }
</p>
