@model PagedList.IPagedList<IT_Project_Management_System.Models.Project>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resource.Projects</h2>

<p>
    @Html.ActionLink(Resources.Resource.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Resources.Resource.ProjectKey
        </th>
        <th>
            @Html.ActionLink(Resources.Resource.ProjectName, "Index", new { sortOrder = ViewBag.NameSortParm, searchString = ViewBag.CurrentFilter })
        </th>
        <th>
            @Resources.Resource.ProjectDescription
        </th>
        <th>
            @Resources.Resource.ProjectPM
        </th>
        <th>
            @Html.ActionLink(Resources.Resource.ProjectStartDate, "Index", new { sortOrder = ViewBag.DateSortParm, searchString = ViewBag.CurrentFilter })
        </th>
        <th>
            @Resources.Resource.ProjectEndDate
        </th>
        <th>
            @Resources.Resource.ProjectStatus
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectStatus)
            </td>
            <td>

                @Html.ActionLink(Resources.Resource.ViewTasks, "Index", "Tasks", new { projectId = item.ProjectID }, null) |
                @Html.ActionLink(Resources.Resource.ProjectSummary, "ProjectSummary", "Projects", new { projectId = item.ProjectID }, null) |
                @Html.ActionLink(Resources.Resource.Edit, "Edit", new { id = item.ProjectID }) |
                @Html.ActionLink(Resources.Resource.Details, "Details", new { id = item.ProjectID }) |
                @Html.ActionLink(Resources.Resource.Delete, "Delete", new { id = item.ProjectID })


            </td>
        </tr>
    }

</table>
<br />
 @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

