@model IEnumerable<IT_Project_Management_System.Models.Project>

@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projects</h2>

<p>
    @Html.ActionLink(Resources.Resource.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectStatus)
        </td>
        <td>

            @Html.ActionLink(Resources.Resource.ViewTasks, "ViewProjectTasks", "Tasks", new { projectId = item.ProjectID }, null) |
            @Html.ActionLink(Resources.Resource.ProjectSummary, "ProjectSummary", "Projects", new { projectId = item.ProjectID }, null) |
            @Html.ActionLink(Resources.Resource.Edit, "Edit", new { id = item.ProjectID }) |
            @Html.ActionLink(Resources.Resource.Details, "Details", new { id = item.ProjectID }) |
            @Html.ActionLink(Resources.Resource.Delete, "Delete", new { id = item.ProjectID })


        </td>
    </tr>
}

</table>
