@model PagedList.IPagedList<IT_Project_Management_System.Models.User>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Resource.Users</h2>

<p>
    @Html.ActionLink(Resources.Resource.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Resources.Resource.UserFirstName, "Index", new { sortOrder = ViewBag.NameSortParm, searchString = ViewBag.CurrentFilter })
        </th>
        <th>
            @Resources.Resource.UserLastName
        </th>
        <th>
            @Resources.Resource.UserEmailAddress
        </th>
        <th>
            @Resources.Resource.UserPhoneNumber
        </th>
        <th>
            @Html.ActionLink(Resources.Resource.UserUserType, "Index", new { sortOrder = ViewBag.UserTypeSortParm, searchString = ViewBag.CurrentFilter })
        </th>
        <th>
            @Resources.Resource.UserName
        </th>
        <th>
            @Resources.Resource.UserLanguage
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.ActionLink(Resources.Resource.Edit, "Edit", new { id = item.UserID }) |
                @Html.ActionLink(Resources.Resource.Details, "Details", new { id = item.UserID }) |
                @Html.ActionLink(Resources.Resource.Delete, "Delete", new { id = item.UserID })
            </td>
        </tr>
    }
</table>
<br />
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
